<!DOCTYPE html>
<!--
* CoreUI - Free Bootstrap Admin Template
* @version v3.0.0
* @link https://coreui.io
* Copyright (c) 2020 creativeLabs Łukasz Holeczek
* Licensed under MIT (https://coreui.io/license)
-->

<html lang="en">

<head>
  <base href="./">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <meta name="description" content="CoreUI - Open Source Bootstrap Admin Template">
  <meta name="author" content="Łukasz Holeczek">
  <meta name="keyword" content="Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard">
  <title>Code Judge</title>
  <link rel="apple-touch-icon" sizes="57x57" href="library/coreui/assets/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="library/coreui/assets/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="library/coreui/assets/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="library/coreui/assets/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="library/coreui/assets/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="library/coreui/assets/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="library/coreui/assets/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="library/coreui/assets/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="library/coreui/assets/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="library/coreui/assets/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="library/coreui/assets/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="library/coreui/assets/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="library/coreui/assets/favicon/favicon-16x16.png">
  <link rel="manifest" href="library/coreui/assets/favicon/manifest.json">
  <link rel="stylesheet" href="library/coreui/dist/css/coreui.min.css" type="text/css">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="library/coreui/assets/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Main styles for this application-->

  <link href="library/coreui/chartjs/dist/css/coreui-chartjs.css" rel="stylesheet">
</head>

<body class="c-app">

  <div class="c-wrapper c-fixed-components">


    <!-- header layout -->
    <%- include('header'); -%>
    <div class="c-body">
      <main class="c-main">
        <div class="container-fluid">
          <div class="fade-in">
          
            <!-- /.row-->


            <div class="card-group mb-4">
              <div class="card">
                <div class="card-body">
                  <div class="text-muted text-right mb-4">
                    <svg class="c-icon c-icon-2xl">
                      <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-people"></use>
                    </svg>
                  </div>
                  <div class="text-value-lg"><%=numUser%></div><small
                    class="text-muted text-uppercase font-weight-bold">Members</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div class="progress-bar bg-gradient-info" role="progressbar" style="width: 5%" aria-valuenow="5"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="text-muted text-right mb-4">
                    <svg class="c-icon c-icon-2xl">
                      <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-warning"></use>
                    </svg>
                  </div>
                  <div class="text-value-lg"><%=numProblem%></div><small
                    class="text-muted text-uppercase font-weight-bold">Problems</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div class="progress-bar bg-gradient-success" role="progressbar" style="width: 7%"
                      aria-valuenow="7" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                  <div class="text-muted text-right mb-4">
                    <svg class="c-icon c-icon-2xl">
                      <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-chevron-circle-down-alt"></use>
                    </svg>
                  </div>
                  <div class="text-value-lg"><%=numAnswer%></div><small
                    class="text-muted text-uppercase font-weight-bold">Answers</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div class="progress-bar bg-gradient-warning" role="progressbar" style="width: 3%"
                      aria-valuenow="3" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            
              <div class="card">
                <div class="card-body">
                  <div class="text-muted text-right mb-4">
                    <svg class="c-icon c-icon-2xl">
                      <use xlink:href="/library/coreui/icons/sprites/free.svg#cil-speedometer"></use>
                    </svg>
                  </div>
                  <div class="text-value-lg"><%=correctAnswerRate%>%</div><small class="text-muted text-uppercase font-weight-bold">Correct answer rate</small>
                  <div class="progress progress-xs mt-3 mb-0">
                    <div class="progress-bar bg-gradient-danger" role="progressbar" style="width: <%=correctAnswerRateInt%>%"
                      aria-valuenow="correctAnswerRateInt" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
            </div>










            <!-- /.card-->

            <!-- /.row-->
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                 
                  <div class="card-body">
                   
                    <div class="row">
                      <div class="col-md-6">
                        <div class="card">
                          <div class="card-header"><i class="fa fa-align-justify"></i>
                            <h3> Latest Submissions</h3>
                          </div>
                          <div class="card-body">
        
                            <table class="table table-responsive-sm table-striped">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Owner</th>
                                  <th>Problem</th>
                                  <!-- <th>Language</th>
                                  <th>Submit Time</th> -->
                                  <th>Point</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% for(var i = 0; i< recentAnswers.length; i++) {%>
                                <tr>
                                  <td><a href="/answer/<%=recentAnswers[i]._id%>"> <%=recentAnswers[i]._id%></a></td>
                                  <td><a href="/user/info/<%=recentAnswers[i].username%>"><%=recentAnswers[i].username%></a></td>
                                  <td><a href="/problem/<%=recentAnswers[i].problem%>"><%=recentAnswers[i].problemTitle%></a></td>
                                  <!-- <td><%=recentAnswers[i].lang%></td>
                                  <td><%=new Date(recentAnswers[i].timecreated ).toLocaleString()  %></td> -->
                                  <td><%=recentAnswers[i].point%></td>
                                </tr>
                                <%}%>
                                 
                                  
                                </tbody>
                              </table>
                        
                          
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="card">
                          <div class="card-header"><i class="fa fa-align-justify"></i>
                            <h3> Overall Rankings</h3>
                          </div>
                          <div class="card-body">
        
                            <table class="table table-responsive-sm ">
                              <thead>
                                <tr>
                                  <th>#</th>
                                  <th>Name</th>
                                  <th>Score</th>
                                
                                 
                                </tr>
                              </thead>
                              <tbody>
                                <% for(var i = 0; i< ranks.length; i++) {%>
                                <tr>
                                    <td><%=i+1%></td>
                                  <td><a href="/user/info/<%=ranks[i].username%>"> <%=ranks[i].username%></a></td>
                                  <td><%=ranks[i].score%></td>
                               
                                  
                                </tr>
                                <%}%>
                                 
                                  
                                </tbody>
                              </table>
                          
                          </div>
                        </div>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
              <!-- /.col-->
            </div>
            <!-- /.row-->
          </div>
        </div>
      </main>

      <%- include('footer'); -%>
      <!-- <%=middleware.isLoggedIn%>  -->

    </div>
  </div>
  <!-- CoreUI and necessary plugins-->
  <script src="library/coreui/dist/js/coreui.bundle.min.js"></script>
  <!--[if IE]><!-->
  <script src="library/coreui/icons/js/svgxuse.min.js"></script>
  <!--<![endif]-->
  <!-- Plugins and scripts required by this view-->
  <script src="library/coreui/chartjs/dist/js/coreui-chartjs.bundle.js"></script>
  <script src="library/coreui/utils/dist/coreui-utils.js"></script>
  <!-- <script src="js/main.js"></script> -->
</body>

</html>